# Indexing

In [51]:
import pandas as pd
df = pd.read_excel('/Users/enricokoegler/Library/Mobile Documents/com~apple~CloudDocs/Privat/Android Apps/WBPA Material /Datenbank.xlsx', sheet_name='Karten')
df = df.iloc[:, 0:13]
df = df[df['Set'] == 'Base']s
df = df.drop(['Average', 'Difference', 'SetId', 'Set'], axis=1)
df.set_index('Name', inplace=True)
df

           ACC  TCQ  MNT  SPC  DEF  FIN  OVERALL  PROB
Name
Maxi        91   89   95   86   88   91       93    50
Kevin       90   88   89   91   85   94       92    60
Sven        93   89   84   86   88   88       90   150
Simon       88   93   87   87   85   90       90   150
Thewizard   86   86   88   93   85   84       88   200
Anny        84   87   84   91   83   86       87   225
Tobi        86   91   75   83   86   87       86   250
Tom         82   90   90   81   82   85       86   250
Fabi        87   83   88   76   80   89       85   300
Nico        85   85   80   87   85   82       85   300
Jakob       88   86   85   86   64   83       85   300
Chris       80   87   88   83   78   82       84   350
Jonas       80   85   80   84   83   79       83   375
Niki        83   82   86   80   73   85       83   375
Stangl      82   87   82   79   72   81       82   400
Sassi       84   83   78   80   81   79       82   400
Bezold      84   78   80   83   70   83       81   450
Maric       78   69   87   80   90   77       81   450
Dani        81   80   83   86   76   75       81   450
Horn        80   81   85   80   75   78       80   500
Andre       82   79   77   81   85   76       80   500
Janik       81   83   75   85   74   82       80   500
Julian      76   79   78   82   81   78       79   550
Lenni       81   84   77   80   78   74       79   550
Melli       78   81   77   80   76   84       79   550
Lissi       80   77   87   77   80   77       79   550
Alex        78   78   78   78   78   78       78   600
Bidi        78   75   79   80   82   77       78   600
Laura       77   80   86   81   74   75       78   600
Hannes      76   74   82   84   76   69       77   650
Kristian    78   73   83   80   78   74       77   650
Opel        80   77   76   72   81   80       77   650
Stahl       68   82   84   67   81   68       76   700
Steffi      72   75   79   72   83   76       76   700
Jan         67   74   82   75   79   74       75   750
Frank       71   66   87   74   89   70       75   750

In [52]:
df.sort_values(by='Name')

           ACC  TCQ  MNT  SPC  DEF  FIN  OVERALL  PROB
Name
Alex        78   78   78   78   78   78       78   600
Andre       82   79   77   81   85   76       80   500
Anny        84   87   84   91   83   86       87   225
Bezold      84   78   80   83   70   83       81   450
Bidi        78   75   79   80   82   77       78   600
Chris       80   87   88   83   78   82       84   350
Dani        81   80   83   86   76   75       81   450
Fabi        87   83   88   76   80   89       85   300
Frank       71   66   87   74   89   70       75   750
Hannes      76   74   82   84   76   69       77   650
Horn        80   81   85   80   75   78       80   500
Jakob       88   86   85   86   64   83       85   300
Jan         67   74   82   75   79   74       75   750
Janik       81   83   75   85   74   82       80   500
Jonas       80   85   80   84   83   79       83   375
Julian      76   79   78   82   81   78       79   550
Kevin       90   88   89   91   85   94       92    60
Kristian    78   73   83   80   78   74       77   650
Laura       77   80   86   81   74   75       78   600
Lenni       81   84   77   80   78   74       79   550
Lissi       80   77   87   77   80   77       79   550
Maric       78   69   87   80   90   77       81   450
Maxi        91   89   95   86   88   91       93    50
Melli       78   81   77   80   76   84       79   550
Nico        85   85   80   87   85   82       85   300
Niki        83   82   86   80   73   85       83   375
Opel        80   77   76   72   81   80       77   650
Sassi       84   83   78   80   81   79       82   400
Simon       88   93   87   87   85   90       90   150
Stahl       68   82   84   67   81   68       76   700
Stangl      82   87   82   79   72   81       82   400
Steffi      72   75   79   72   83   76       76   700
Sven        93   89   84   86   88   88       90   150
Thewizard   86   86   88   93   85   84       88   200
Tobi        86   91   75   83   86   87       86   250
Tom         82   90   90   81   82   85       86   250

In [53]:
df.loc['Sven']
df.iloc[0]

ACC        91
TCQ        89
MNT        95
SPC        86
DEF        88
FIN        91
OVERALL    93
PROB       50
Name: Maxi, dtype: int64

In [54]:
df = pd.read_excel('/Users/enricokoegler/Library/Mobile Documents/com~apple~CloudDocs/Privat/Android Apps/WBPA Material /Datenbank.xlsx', sheet_name='Karten')
df = df.iloc[:, 0:13]
df = df.drop(['Average', 'Difference', 'SetId'], axis=1)
df.set_index(['Name', 'Set'], inplace=True)
df.sort_index().head(30)

                             ACC  TCQ  MNT  SPC  DEF  FIN  OVERALL  PROB
Name         Set
Alex         Base             78   78   78   78   78   78       78   600
             Beer             85   85   85   84   84   84       85   225
             OTW              81   79   81   79   81   79       80   375
             Soccer           67   68   69   71   72   73       70   400
Andre        Base             82   79   77   81   85   76       80   500
Angelbreaker Comic            90   98   92   85   91   90       93    40
Anny         Base             84   87   84   91   83   86       87   225
             Comic            83   85   82   87   81   85       85   225
             Icon             86   90   87   93   85   90       90    90
             OTW              86   89   85   92   84   87       88   150
             Valentine        79   83   80   88   79   83       83   300
             World Champion   87   89   86   90   86   89       89   110
Antonia      Scream           84   96   78   86   77   82       85   225
Bezold       BackInTime       87   82   84   85   76   87       85   225
             Base             84   78   80   83   70   83       81   450
Bidi         Base             78   75   79   80   82   77       78   600
             Icon             90   87   95   91   93   89       93    35
             Tag Team         80   77   80   81   84   78       81   350
Chris        BackInTime       76   83   85   81   74   80       81   350
             Base             80   87   88   83   78   82       84   350
             Comic            85   92   93   87   81   88       89   110
             Scream           95   89   89   85   83   82       88   125
             Soccer           81   88   88   85   79   83       85   225
             World Champion   88   95   97   90   86   92       94    25
Dani         Base             81   80   83   86   76   75       81   450
             Icon             87   85   88   92   83   81       87   175
             Soccer           76   75   78   81   71   70       75   400
Fabi         Base             87   83   88   76   80   89       85   300
             Beer             91   86   92   81   83   93       89   115
             Comic            83   80   84   72   75   85       80   375

In [56]:
df.loc['Bidi']

          ACC  TCQ  MNT  SPC  DEF  FIN  OVERALL  PROB
Set
Icon       90   87   95   91   93   89       93    35
Tag Team   80   77   80   81   84   78       81   350
Base       78   75   79   80   82   77       78   600