In [1]:
import pandas as pd

In [52]:
import pandas as pd

# Daten f√ºr das DataFrame erstellen
data = {'player_id': [1, 1, 2, 3, 3],
        'device_id': [2, 2, 3, 1, 4],
        'event_date': ['2016-03-01', '2016-05-02', '2017-06-25', '2016-03-02', '2018-07-03'],
        'games_played': [5, 6, 1, 0, 5]}

# DataFrame erstellen
activity = pd.DataFrame(data)

# 'event_date' Spalte in ein Datetime-Format konvertieren
activity['event_date'] = pd.to_datetime(activity['event_date'])

# Das DataFrame anzeigen
print(activity)

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-05-02             6
2          2          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5

In [65]:
activity.groupby('player_id').agg(first_login=('event_date', 'min'))
activity.groupby('player_id')['event_date'].min().reset_index()
activity.groupby(by=['player_id']).event_date.min()

player_id
1   2016-03-01
2   2017-06-25
3   2016-03-02
Name: event_date, dtype: datetime64[ns]

In [66]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-03-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [67]:
activity

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-03-02             6
2          2          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5